@import "styles/abstracts/variables";

.banner {
  width: 100%;
  height: 860px;
  //min-height: 1020px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include tablet-portrait-down {
    height: auto;
    min-height: 700px;
    padding: 100px 0;
  }
  @include md-down {
    padding: 0 45px;
  }
  @include sm-down {
    padding: 0 20px;
  }

  .textContent {
    display: flex;
    justify-content: center;
    column-gap: 170px;
    max-width: 1052px;
    z-index: 10;
    width: 100%;
    margin: 0 auto;

    @include tablet-portrait-down {
      max-width: 760px;
      column-gap: 50px;
      width: fit-content;
    }
    @include md-down {
      flex-direction: column;
    }
    @include sm-down {
      font-size: 13px;
    }

    h2 {
      letter-spacing: 0.05em;
    }

    .rightside {
      max-width: 760px;
      @include tablet-portrait-down {
        max-width: 369px;
      }
    }
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      //height: 100%;
      left: 0;
      top: 0;
      background: $primary-bg-color;
      opacity: 0.2;
      z-index: 1;
    }

    img {
      width: 100%;
      height: auto;
      //opacity: 1;
      //max-width: 1440px;
    }
  }
}